<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cupons</title>
</head>
<body>
<section layout:fragment="header">
<h1>Cupons</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Cupons</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Listagem</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Promotion</th>
                    <th>Store</th>
                    <th>User</th>
                    <th>QRCode</th>
                    <th>Required CoUsers</th>
                    <th>Actived CoUsers</th>
                    <th>Actived</th>
                    <th>Consumed</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.promotion.description}"></td>
                    <td th:text="${row.promotion.store.name}"></td>
                    <td th:text="${row.user.username}"></td>
                    <td th:text="${row.qrCode}"></td> 
                    <td th:text="${row.numRequiredCoUsers}"></td>
                    <td th:text="${row.numActivedCoUsers}"></td>
                    <td th:text="${row.activated}"></td>
                    <td th:text="${row.consumed}"></td>
                    <td><img alt="Image" th:src="${'http://localhost:8082/promocity/coupons/'+row.id+'/qrCodeImage'}" width="30" height="30" /></td>
                    <td>
                        <a th:href="${'/coupons/edit/' + row.id}">editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>