<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Cupom</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Cupom</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Cupom</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/coupons" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${coupon}" th:action="@{/coupons/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

				<div class="form-group">
                    <label for="promotion">Promotion</label>
                    <select id="promotion" th:field="*{promotion}" required="required">
						<option value="">Select Promotion</option>
						<option th:each="promotion : ${promotions}" th:value="${promotion.id}" th:text="${promotion.description}" selected="selected"></option>
					</select>
                </div>
                
                <div class="form-group">
                    <label for="user">User</label>
                    <select id="user" th:field="*{user}" required="required">
						<option value="">Select User</option>
						<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" selected="selected"></option>
					</select>
                </div>
                
                <div class="form-group">
                    <label for="qrCode">QRCode</label>
                    <input type="text" required="true" class="form-control" th:field="*{qrCode}" id="qrCode" readonly="readonly"/>
                </div>
                
                <div class="form-group">
                    <label for="numRequiredCoUsers">Required CoUsers</label>
                    <input type="number" required="true" class="form-control" th:field="*{numRequiredCoUsers}" id="numRequiredCoUsers" />
                </div>
                
                <div class="form-group">
                    <label for="numActivedCoUsers">Actived CoUsers</label>
                    <input type="number" required="true" class="form-control" th:field="*{numActivedCoUsers}" id="numActivedCoUsers" />
                </div>
                
                <div class="form-group">
                    <label for="activated">Actived</label>
                    <input type="checkbox" class="form-check-input" th:field="*{activated}" id="activated" />
                </div>
                
                <div class="form-group">
                    <label for="consumed">Consumed</label>
                    <input type="checkbox" class="form-check-input" th:field="*{consumed}" id="consumed" />
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>