<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Edita Cupom na Promoção ID</title>
</head>
<body>
<section layout:fragment="header">
	<h1>Editar Cupom</h1>
	<h2 th:text="${'Promoção: '+promotion.description}"></h2>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Editar Cupom da Promoção id</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a th:href="${'/promotions/'+idPromotion+'/coupons'}" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${coupon}" th:action="${'/promotions/'+idPromotion+'/coupons/save/'+idCoupon}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{promotion}"/>
                <input type="hidden" th:field="*{user}"/>

				<div class="form-group">
                    <label for="id">ID</label>
                    <p id="id"> <span th:text="*{id}"/></p>
                </div>
                <div class="form-group">
                    <label for="promotion">Promotion</label>
                    <p id="promotion"> <span th:text="*{promotion.description}"/></p>
                </div>
                <div class="form-group">
                    <label for="promotion">Store</label>
                    <p id="promotion"> <span th:text="*{promotion.store.name}"/></p>
                </div>
                <div class="form-group">
                    <label for="user">User</label>
                    <p id="user"><span th:text="*{user.username}"/></p>
                </div>
                
                <div class="form-group">
                    <label for="qrCode">QRCode</label>
                    <input type="text" required="true" class="form-control" th:field="*{qrCode}" id="qrCode" readonly="readonly"/>
                    <br/>
                    <img id="qrCodeImage" alt="Image" th:src="${'http://localhost:8082/promocity/coupons/'+coupon.id+'/qrCodeImage'}" width="100" height="100" />
                </div>
                
                <div class="form-group">
                    <label for="numRequiredCoUsers">Required CoUsers</label>
                    <input type="number" required="true" class="form-control" th:field="*{numRequiredCoUsers}" id="numRequiredCoUsers" />
                </div>
                
                <div class="form-group">
                    <label for="numActivedCoUsers">Actived CoUsers</label>
                    <p id="numActivedCoUsers"><span th:text="*{numActivedCoUsers}"/></p>
                </div>
                
                <div class="form-group">
                    <label for="activated">Activated</label>
                    <input type="checkbox" class="form-check-input" th:field="*{activated}" id="activated" />
                </div>
                
                <div class="form-group">
                    <label for="special">Consumed</label>
                    <input type="checkbox" class="form-check-input" th:field="*{consumed}" id="consumed" />
                </div>               
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>