<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Promoção</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Promoção</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Promoção</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/promotions" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${promotion}" th:action="@{/promotions/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="description">Descricao</label>
                    <input type="text" required="true" class="form-control" th:field="*{description}" id="description" />
                </div>
                
                <div class="form-group">
                    <label for="store">Store</label>
                    <select id="store" th:field="*{store}" required="required">
						<option value="">Select Store</option>
						<option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}" selected="selected"></option>
					</select>
                </div>
                	 
               	<script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
				<script src="/plugins/input-mask/jquery.inputmask.js"></script>
				
                <div class="form-group">
					<label for="fromDate">Data de início</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text" required="true" th:field="*{fromDate}" id="fromDate"></input>
					</div>
					<!-- /.input group -->
				</div>

				<div class="form-group">
					<label for="toDate">Data de fim</label>
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text" required="true" th:field="*{toDate}" id="toDate"></input>
					</div>
					<!-- /.input group -->
				</div>
                
                <div class="form-group">
                    <label for="numRequiredCoUsers">Quantidade de Usuários para Ativar</label>
                    <input type="number" required="true" class="form-control" th:field="*{numRequiredCoUsers}" id="numRequiredCoUsers" />
                </div>
                
                <div class="form-group">
                    <label for="numMaxCoupons">Quantidade Máxima de Cupons</label>
                    <input type="number" required="true" class="form-control" th:field="*{numMaxCoupons}" id="numMaxCoupons" />
                </div>
                
                <div class="form-group">
                    <label for="special">Especial</label>
                    <input type="checkbox" class="form-check-input" th:field="*{special}" id="special" />
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            
        </form>
    </div>
    
	<!-- Page script -->
	<script type="text/javascript">
	$j=jQuery.noConflict();
	$j(document).ready(function () {
	    $j("#fromDate").inputmask('99/99/9999', {
	        greedy: false,
	        showMaskOnFocus: true,
	        showMaskOnHover: false,
	        noValuePatching: true
	    });
	    document.getElementById("fromDate").value = "29/11/2018";
	
	    $j("#toDate").inputmask('99/99/9999', {
	        greedy: false,
	        showMaskOnFocus: true,
	        showMaskOnHover: false,
	        noValuePatching: true
	    });
	    document.getElementById("toDate").value = "10/12/2018";
	
	});
	</script>

</div>
</body>
</html>